@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1f2937;
  color: white;
  font-size: 24px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-weight: 700;
  font-size: 21px;
  color: white;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  margin-right: 10px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.hero {
  background: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
  gap: 16px;
}

.part1 h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.part1 p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0 0 10px 0;
}

.part1 button {
  /* background: #3882f6; */
  background-color: #a6d609;
  font-size: 16px;
  border-radius: 5px;
  padding: 12px 16px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 300;
}

.part2 {
  height: 100%;
  width: 100%;
}

.content {
  padding: 48px 32px 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h1 {
  text-align: center;
  margin: 0;
  font-weight: 900;
  color: #1f2937;
  font-size: 36px;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 16px 0;
  margin: 16px 0;
  width: 500px;
  height: 200px;
}

.info p {
  margin: 2px 0;
}

.info {
  border-radius: 6px;
  border: 3px solid #82d305;
  height: 100px;
  width: 100px;
}

.quote {
  margin: 0;
  /* background-color: #e5e7eb; */
  background-color: #c8f902;
  padding: 48px;
}

.testimonial {
  font-style: italic;
  font-weight: 100;
  font-size: 24px;
  color: #1f2937;
  margin: 0;
}

.author {
  margin: 0;
  text-align: right;
  padding-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
}

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  padding: 16px;
}

.call-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #3882f6; */
  background-color: #82d305;
  color: white;
  padding: 32px;
  margin: 48px;
  border-radius: 12px;
}

#sign-content p:first-child {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

#sign-content p:last-child {
  margin: 0;
}

#sign-button {
  border-radius: 5px;
  border: 1px white solid;
  font-weight: 600;
  /* background: #3882f6; */
  background-color: #82d305;
  color: white;
  padding: 8px 16px;
}
